.last-active {
    z-index: 100;
}

.bottle-width {
    width: 30rem;
}

.active .half-bottle-width {
    width: 20rem;
}
.active .five-eighths-bottle-width {
    width: 22rem;
}

@tailwind utilities;
