.last-active {
    z-index: 100;
}

.bottle-width {
    width: 36rem;
}

.active .half-bottle-width {
    width: 18rem;
}
.active .five-eighths-bottle-width {
    width: 22.5rem;
}

@tailwind utilities;
